# Section 04: Python Libraries - Numpy and Pandas

## Overview

(copied from Learn.co)

A library (or a module/package) is a pre-written piece of software that you can re-use rather than having to write that functionality yourself. So instead of having to write the code from scratch to plot a bar chart, you can use the Matplotlib library.

### NumPy 

In Python, the most fundamental package used for scientific computation is **NumPy** (Numerical Python). It provides lots of useful functionality for mathematical operations on vectors and matrices in Python. Matrix computation is the primary strength of NumPy. 


The library provides these mathematical operations using the NumPy **array** data type, which enhances performance and speeds up execution when compared to Python's default methods and data types. 

### Pandas

Pandas is a Python package designed to work with “relational” data and helps replicates the functionality of relational databases in a simple and intuitive way. Pandas is a great tool for data wrangling. It is designed for quick and easy data cleansing, manipulation, aggregation, and visualization.


There are **two main data structures** in the library: 

1. “Series” - one-dimensional
2. “DataFrames” - two-dimensional

These data types can be manipulated in a number of ways for analytical needs. Here are a few ways in which Pandas may come in handy:

* Easily delete and add columns from DataFrame
* Convert data structures to DataFrame objects
* Handle missing data and outliers
* Powerful grouping and aggregation functionality
* Offers visualization functionality to plot complex statistical visualizations on the go
* The data structures in Pandas are highly compatible with most of the other libraries

## Numpy Arrays vs Python Lists

### Broadcasting

In [1]:
import numpy as np

numpy_arr = np.array([1, 2, 3, 4]) # you can simply coerce structured data into np.array()
print('Here is a NumPy array:', numpy_arr)
print('You know it is a NumPy array because its type is:', type(numpy_arr))

Here is a NumPy array: [1 2 3 4]
You know it is a NumPy array because its type is: <class 'numpy.ndarray'>

In [ ]:
vector = np.array([1, 2, 3, 4, 5, 6])
matrix1 = np.array([[1, 2, 3], [4, 5, 6]])
matrix2 = np.array([[1, 2], [3, 4], [5, 6]])
tensor = np.array([[[1, 2], [3, 4]], [[5, 6], [7, 8]]])

# tensor10 = np.array([[natrix1]])

print(vector)
print('vector shape:', vector.shape, '\n')
print(matrix1)
print('matrix1 shape:', matrix1.shape, '\n')
print(matrix2)
print('matrix2 shape:', matrix2.shape, '\n')
print(tensor)
print('tensor shape:', tensor.shape, '\n')

In [ ]:
# mess around with indexing a tensor

tensor[1]

NumPy arrays allow for something known as **broadcasting**, which happens when you perform operations across arrays with different number of dimensions. NumPy makes duplicates of the lower-dimension array as long as the higher-dimension array **contains the same shape** in order to execute the operation. Order of the `.shape` tuple matters!

In [ ]:
scalar = 4
print(vector)

print(vector + scalar)

In [ ]:
v1 = np.array([1, 0, 1])
m1 = np.array([[1, 2], [3, 4], [5, 6]])
m1 - v1

What shapes of matrices and vectors can be broadcast onto `tensor2`?

In [ ]:
print(tensor2)

In [ ]:
# notes here: 
# 
#

### Creating Arrays
NumPy also has several built-in methods for creating arrays that are useful in practice. These methods are particularly useful:
* `np.zeros(shape)` 
* `np.ones(shape)`
* `np.full(shape, fill)`

## Pandas!

In [2]:
import pandas as pd

### Getting Data In/Out of Pandas

In [3]:
car_df = pd.read_csv('http://faculty.marshall.usc.edu/gareth-james/ISL/Auto.csv', na_values='?')

In [4]:
car_df.to_csv('cleaned_cars.csv', index=False)

#### Turning Nested Lists, Dictionaries to Pandas

In [5]:
spanish_numbers = ['uno', 'dos', 'tres', 'cuatro', 'cinco']

dictionary = {'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [10]:
numbers = pd.DataFrame.from_dict(dictionary, 'index') # tell them whether the keys are the column names or the index
numbers

       0
one    1
two    2
three  3
four   4
five   5

In [11]:
numbers.columns = ['numerical']
numbers

       numerical
one            1
two            2
three          3
four           4
five           5

In [12]:
numbers['spanish'] = spanish_numbers
numbers

       numerical spanish
one            1     uno
two            2     dos
three          3    tres
four           4  cuatro
five           5   cinco

In [13]:
from sklearn.datasets import load_wine
data = load_wine() # loading a built-in dataset

df = pd.DataFrame(data.data, columns=data.feature_names)

In [14]:
df

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0
174,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0
175,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0
176,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0
177,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0

### DataFrame Attributes
Attributes you can think of as *characteristics* of the DataFrame, where no computation has to be done. Attributes don't end with `()`.
- `.index`
- `.columns`
- `.dtypes`
- `.shape`

In [21]:
# try out all the Pandas things with the wine dataset!

df.shape
df.index
df.columns
type(df.shape)

tuple

### Methods to keep in your back pocket:
- `.head()`
- `.tail()`
- `.info()`
- `.describe()`
- `.isna().sum()` (you can stack methods in one line!!)

In [22]:
df.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0

### Selecting
- `.iloc[rows, columns]` a Pandas DataFrame indexer used for integer-location based indexing / selection by position 
- `.loc[rows, columns]` has two use cases:
    - Selecting by label / index
    - Selecting with a boolean / conditional lookup
- Filtering a DataFrame
    - `.filter()` function https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.filter.html
    - Filtering using conditions

In [23]:
df

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0
174,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0
175,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0
176,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0
177,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0

In [28]:
df[df['flavanoids'] >= 3.8] #filtering

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
18,14.19,1.59,2.48,16.5,108.0,3.30,3.93,0.32,1.86,8.7,1.23,2.82,1680.0
121,11.56,2.05,3.23,28.5,119.0,3.18,5.08,0.47,1.87,6.0,0.93,3.69,465.0

## Other Things:
- Lesson on Data Privacy and Ethics
- Explore Kaggle (from the Learn.co lesson `Kaggle and the Ames Housing Dataset`)


## Next Section:
- Using `lambda` with a Series/DataFrame
- Data cleaning techniques
- Data visualizations: we'll get to that in Section 06, but this is a good starting point if you want to work on the mini project https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.plot.html